*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-image: url(/otras/imagenfondo1.jpeg)
}
.contenedor__navbar{
    display: flex;
    flex-direction: row;
    background-color: yellow;
    width: 100%;
}
.navbar{
    display: flex;
    justify-content:start;
    align-items: center;
    width: 100%;
    list-style: none;
}
.navbar__logo{
    height: 60px;
    width: 90px;
}
.navbar__buscador{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2px;
    padding: 0px 20%;
}
.buscador{
    width: 200px;
}
.buscador__icono{
    height: 10px;
    width: 10px;
}
.menu, .carrito {
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor__hero{
    position: relative;
    width: 100%;
    height: 500px;
    background: url(/otras/imagen_hero2.png);
    background-position: center;
    background-size: cover;
}
.imagen__hero{
    width: 100%;
}
.contenedor__slogan{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid yellow;
    border-radius: 10px;
}
.slogan{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: yellow;
    font-family: "Permanent Marker", cursive;
}
.contenedor__enlaces{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid yellow;
    text-decoration: none;
}
.enlaces{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    border: none;
    gap: 10px;
    list-style: none;
    padding: 10px 0px;
}

.contenedor__enlaces a{
    color: yellow;
}
.contenedor__tarjeta__contacto{
    background-color: black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.tarjeta__contacto{
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    color: black;
    text-align: center;
    padding: 10px 20px;
    font-size: 12px;
    background-color: yellow;
    border: 1px solid black;
    border-radius: 10px;
}
.contenedor__contacto{
width: 33%;
}
.lista__contacto{
    list-style: none;
}
.img__phone{
    width: 5px;
    height: 5px;
}
.contenedor__transparencia{
    width: 33%;
}
.contenedor__redes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
    gap: 5px;
}
.redes__link{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 10px;
}
.img__contactos{
    list-style: none;
    width: 10px;
    height: 10px;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: yellow;
    font-size: 10px;
    padding: 10px;
    background-color: black;
    border-radius: 10px;
    border: 1px solid yellow;
}
footer p a{
    color: yellow;
    text-decoration: none;
}


/*MENU HAMBURGUESA DESPLEGABLE*/
.botonMenu{
   margin: 0 auto;
   display: block;
   width: 40px;
   height: 30px;
   border-radius: 7px;
   background: yellow;
   color: black;
   cursor: pointer;
   position: relative;
   padding-left: 10px;
   padding-top: 2px;
}
.botonMenu span{
   display: block;
   width: 20px;
   height: 1px;
   background: black;
   margin-top: 5px;
   border: 1px solid black;
}
label{
   cursor: pointer;
}
#menu-toggle{
   display: none;
}
#trickMenu{
   display: none;
   text-align: center;
   background: yellow;
   padding: 10px 0;
   position: absolute;
   margin-right: 500px;
   border-radius: 10px;
   border: 1px solid black;
}
#trickMenu li a {
   display: block;
   padding: 10px 5px;
   color: black;
   text-decoration: none;
}
#menu-toggle:checked + #trickMenu{
   display: block;
   width: 100px;
}


/*TARJETAS HAMBURGUESAS*/
.card__apu{
    position: relative;
    margin: 50px;
    width: 200px;
    height: 200px;
    background: url(/apu.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    border: 1px solid yellow;
    box-shadow: 0px 0px 20px -3px rgba(255,221,0,1);
}
.card__content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%) rotate(-45deg);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card__apu:hover .card__content{
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
    border-radius: 10px;
}
.card__descripcion{
    font-size: 15px;
    color: yellow;
    line-height: 1.4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: black;
    border-radius: 10px;
    padding: 5px;
}
.card__apu:hover svg{
    scale: 0;
    transform: rotate(-45deg);
}
.card__descripcion img{
    width: 40px;
    height: 90px;
    border-radius: 10px;
}
.card__bart{
    position: relative;
    margin: 50px;
    width: 200px;
    height: 200px;
    background: url(/bart.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    border: 1px solid yellow;
    box-shadow: 0px 0px 20px -3px rgba(255,221,0,1);
}
.card__bart:hover .card__content{
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
    border-radius: 10px;
}
.card__cletus{
    position: relative;
    margin: 50px;
    width: 200px;
    height: 200px;
    background: url(/cletus.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    background-color: black;
    border: 1px solid yellow;
    box-shadow: 0px 0px 20px -3px rgba(255,221,0,1);
}
.card__cletus:hover .card__content{
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
    border-radius: 10px;
}
.card__lisa{
    position: relative;
    margin: 50px;
    width: 200px;
    height: 200px;
    background: url(/lisa.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    border: 1px solid yellow;
    box-shadow: 0px 0px 20px -3px rgba(255,221,0,1);
}
.card__lisa:hover .card__content{
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
    border-radius: 10px;
}
.card__homero{
    position: relative;
    margin: 50px;
    width: 200px;
    height: 200px;
    background: url(/homero.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    border: 1px solid yellow;
    box-shadow: 0px 0px 20px -3px rgba(255,221,0,1);
}
.card__homero:hover .card__content{
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
    border-radius: 10px;
}
.card__marge{
    position: relative;
    margin: 50px;
    width: 200px;
    height: 200px;
    background: url(/marge.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    border: 1px solid yellow;
    box-shadow: 0px 0px 20px -3px rgba(255,221,0,1);
}
.card__marge:hover .card__content{
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
    border-radius: 10px;
}
.card__flanders{
    position: relative;
    margin: 50px;
    width: 200px;
    height: 200px;
    background: url(/flanders.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    border: 1px solid yellow;
    box-shadow: 0px 0px 20px -3px rgba(255,221,0,1);
}
.card__flanders:hover .card__content{
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
    border-radius: 10px;
}
.card__maggie{
    position: relative;
    margin: 50px;
    width: 200px;
    height: 200px;
    background: url(/maggie.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    border: 1px solid yellow;
    box-shadow: 0px 0px 20px -3px rgba(255,221,0,1);
}
.card__maggie:hover .card__content{
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
    border-radius: 10px;
}
.card__gerald{
    position: relative;
    margin: 50px;
    width: 200px;
    height: 200px;
    background: url(/gerald.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    border: 1px solid yellow;
    box-shadow: 0px 0px 20px -3px rgba(255,221,0,1);
}
.card__gerald:hover .card__content{
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
    border-radius: 10px;
}
.contenedor__boton{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boton{
    width: 40%;
    height: 25px;
    background-color: yellow;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    border: 1px solid yellow;
    box-shadow: 0px 0px 10px -3px rgba(255,221,0,1);
    cursor: pointer;
}
.precio{
    color: yellow;
    margin-top: -50px;
    background-color: black;
}
.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: black;
}

.titulo{
    color: yellow;
    margin-bottom: -50px;
    font-family: "Permanent Marker", cursive;
    font-size: 18px;
    padding-top: 50px;
}




.card__agua{
    margin: 50px;
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid yellow;
    box-shadow: 0px 0px 20px -3px rgba(255,221,0,1);
}
.bebidas__img{
    width: 150px;
    height: 150px;
}
.stellanegra__img{
    width: 130px;
    height: 140px;
}
.corona__img{
    width: 120px;
    height: 150px;
}
.naranja__img{
    width: 120px;
    height: 150px;
}
.pomelo__img{
    width: 120px;
    height: 150px;
}
.sprite__img{
    width: 120px;
    height: 150px;
}
.card__coca{
    margin: 50px;
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid yellow;
    box-shadow: 0px 0px 20px -3px rgba(255,221,0,1);
}
.card__cocalight{
    margin: 50px;
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid yellow;
    box-shadow: 0px 0px 20px -3px rgba(255,221,0,1);
}
.card__sprite{
    margin: 50px;
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid yellow;
    box-shadow: 0px 0px 20px -3px rgba(255,221,0,1);
}
.card__fanta{
    margin: 50px;
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid yellow;
    box-shadow: 0px 0px 20px -3px rgba(255,221,0,1);
}
.card__naranja{
    margin: 50px;
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid yellow;
    box-shadow: 0px 0px 20px -3px rgba(255,221,0,1);
}
.card__manzana{
    margin: 50px;
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid yellow;
    box-shadow: 0px 0px 20px -3px rgba(255,221,0,1);
}
.card__pomelo{
    margin: 50px;
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid yellow;
    box-shadow: 0px 0px 20px -3px rgba(255,221,0,1);
}
.card__corona{
    margin: 50px;
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid yellow;
    box-shadow: 0px 0px 20px -3px rgba(255,221,0,1);
}
.card__stella{
    margin: 50px;
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid yellow;
    box-shadow: 0px 0px 20px -3px rgba(255,221,0,1);
}
.card__stellanegra{
    margin: 50px;
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid yellow;
    box-shadow: 0px 0px 20px -3px rgba(255,221,0,1);
}
.bebidas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.titulo__bebidas{
    color: yellow;
    margin-bottom: -50px;
    font-family: "Permanent Marker", cursive;
    font-size: 20px;
    padding: 70px 0;   
}
.contenedor__links{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.picar__img{
    width: 160px;
    height: 150px;
}
.card__fritas{
    margin: 50px;
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid yellow;
    box-shadow: 0px 0px 20px -3px rgba(255,221,0,1);
}
.card__dedos{
    margin: 50px;
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid yellow;
    box-shadow: 0px 0px 20px -3px rgba(255,221,0,1);
}
.card__tequeños{
    margin: 50px;
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid yellow;
    box-shadow: 0px 0px 20px -3px rgba(255,221,0,1);
}
.dedos__img{
    margin-top: 40px;
    width: 150px;
    height: 110px;
}
.titulo__links{
    color: yellow;
    margin-bottom: -50px;
    font-family: "Permanent Marker", cursive;
    font-size: 20px;
    padding: 50px 0px;
    text-align: center;
}
.picar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.contenedor__picar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card__promohomero{
    position: relative;
    margin: 50px;
    width: 200px;
    height: 200px;
    background: url(/promohomero.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    border: 1px solid yellow;
    box-shadow: 0px 0px 20px -3px rgba(255,221,0,1);
}
.card__promohomero:hover .card__content{
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
    border-radius: 10px;
}
.card__promoflanders{
    position: relative;
    margin: 50px;
    width: 200px;
    height: 200px;
    background: url(/promoflanders.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    border: 1px solid yellow;
    box-shadow: 0px 0px 20px -3px rgba(255,221,0,1);
}
.card__promoflanders:hover .card__content{
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
    border-radius: 10px;
}
.card__promobart{
    position: relative;
    margin: 50px;
    width: 200px;
    height: 200px;
    background: url(/promobart.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    border: 1px solid yellow;
    box-shadow: 0px 0px 20px -3px rgba(255,221,0,1);
}
.card__promobart:hover .card__content{
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
    border-radius: 10px;
}
.card__promolisa{
    position: relative;
    margin: 50px;
    width: 200px;
    height: 200px;
    background: url(/promolisa.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    border: 1px solid yellow;
    box-shadow: 0px 0px 20px -3px rgba(255,221,0,1);
}
.card__promolisa:hover .card__content{
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
    border-radius: 10px;
}
.hamburguesas,.veggie,.kids,.picar,.bebidas,.promos{
    width: 89%;
    background-color: black;
    margin-top: -4px;
    border: 1px solid yellow;
    border-radius: 10px;
    padding-bottom: 50px;
}
.contenedor__tarjetas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}



@media (max-width: 630px){
    .buscador{
        display: none;
    }
    .buscador__icono{
        display: none;
    }
    .enlaces{
        font-size: 8px;
    }
    .tarjeta__contacto{
        font-size: 5px;
    }
    .contenedor__slogan{
        font-size: 10px;
    }
}
@media (max-width: 475px){
    .contenedor__hero{
        display: none;
    }
    .contenedor__enlaces{
        position: sticky;
        top: 60px;
        z-index: 2;
    }
    .contenedor__links{
        z-index: 3;
    }
    .contenedor__navbar{
        position: sticky;
        top: 0px;
        z-index: 1;
    }
}